.ApproveAccounts_table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
  font-weight: bold;
  text-align: center;
}

.ApproveAccounts_table td {
  padding: 0.5rem;
  border: 1px solid #ddd;
}

.ApproveAccounts_table_dark .ApproveAccounts_table td {
  border-color: #444;
}

.ApproveAccounts_Button {
  display: flex;
  justify-content: space-evenly;
}
.ApproveAccounts_Button button {
  max-width: 100px;
}
