/* Common Styles */
.RequestApplication_dark .RequestApplication_container {
  height: 100vh;
  background-color: #161616;
}
.RequestApplication_light .RequestApplication_container {
  height: 100vh;
  background-color: #f8f8f8;
}
.RequestApplication_form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.RequestApplication_title {
  text-align: center;
  margin-bottom: 20px;
}

.RequestApplication_field {
  margin-bottom: 15px;
}

.RequestApplication_label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.RequestApplication_input,
.RequestApplication_textarea,
.RequestApplication_fileInput {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.RequestApplication_textarea {
  resize: vertical;
}

.RequestApplication_button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Light Mode */
.RequestApplication_light {
  position: relative;
  top: 25%;
  background-color: #fafafa;
  color: black;
}

.RequestApplication_light .RequestApplication_button {
  background-color: #66bb6a;
  color: #fff;
}

.RequestApplication_light .RequestApplication_button:hover {
  background-color: #c76824;
}

/* Dark Mode */
.RequestApplication_dark {
  position: relative;
  top: 25%;
  background-color: #2e2e2e;
  border: #444;
  color: #fff;
}

.RequestApplication_dark .RequestApplication_button {
  background-color: #f16500;
  color: #000;
}

.RequestApplication_dark .RequestApplication_button:hover {
  background-color: #66bb6a;
}
