.MyBooks {
  min-height: 100vh;
  width: 100%;
  flex-grow: 1;
  background-color: #f8f8f8;
  margin: 0 auto;
}

.MyBooks.MyBooks_dark {
  background-color: #161616;
  color: #f9f9f9;
}

.MyBooks .MyBooks_container {
  height: 100%;
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.MyBooks_account-section {
  text-align: start;
  align-self: stretch;
  padding: 20px;
  border-right: 2px solid #ccc;
}

.MyBooks_dark .MyBooks_account-section {
  background-color: #161616;
}

.MyBooks_account-section h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

.MyBooks_account-section ul {
  list-style-type: none;
  padding-top: 10px;
}

.MyBooks_account-section ul li {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #666;
  transition: 0.3s;
  margin-bottom: 5px;
  font-size: 1.1rem;
}

.MyBooks_account-section ul li:hover,
li.MyBooks_active {
  background-color: #c76824;
  color: white !important;
}

.MyBooks main {
  flex-grow: 1;
}

.MyBooks_form-container {
  margin-top: 20px;
  width: 300px;
}

form {
  text-align: start;
  padding: 20px;
  border-radius: 10px;
}

.MyBooks_form-group {
  margin-bottom: 15px;
}

form label {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="number"],
form .MyBooks_form-group input[type="file"],
form .MyBooks_form-group .MyBooks_form-select {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: 2px solid #ccc;
  border-radius: 3px;

  transition: border-color 0.3s;
  display: block;
  box-sizing: border-box;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form input[type="file"]:focus,
form select:focus {
  border-color: #c76824;
  outline: none;
}

.MyBooks button {
  width: 90%;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #c76824;
  border: 2px solid #c76824; /* Blue button color */
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

form button:hover {
  background-color: transparent;
  color: green;
}

.MyBooks_dark .MyBooks {
  background-color: #161616; /* Dark gray */
  color: #ffffff; /* White */
}

.MyBooks_dark .MyBooks_account-section {
  border-color: #333333; /* Dark gray */
  background-color: #161616; /* Darker gray */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.MyBooks_dark .MyBooks_account-section h2 {
  color: #ffffff; /* White */
}

.MyBooks_dark .MyBooks_account-section ul li {
  color: #cccccc; /* Light gray */
}

.MyBooks_dark form label {
  color: #cccccc; /* Light gray */
}

.MyBooks_dark form input[type="text"],
.MyBooks_dark form input[type="email"],
.MyBooks_dark form input[type="password"],
.MyBooks_dark form input[type="number"],
.MyBooks_dark form select,
.MyBooks_dark form option,
.MyBooks_dark form textarea {
  background-color: #1c1c1c; /* Dark gray */
  border-color: #555555; /* Medium gray */
  color: #ffffff; /* White */
}

.MyBooks_dark form input[type="text"]:focus,
.MyBooks_dark form input[type="email"]:focus,
.MyBooks_dark form input[type="password"]:focus,
.MyBooks_dark form select:focus {
  border-color: #ffffff; /* White */
}

.MyBooks_dark #role {
  background-color: #555; /* Darker background color in dark mode */
  color: #fff; /* White text color in dark mode */
  border-color: #ccc; /* Lighter border color in dark mode */
}

/* responsive */
@media (max-width: 767px) {
  .MyBooks .MyBooks_container {
    gap: 1rem;
  }

  .MyBooks_account-section {
    border: none;
  }

  .MyBooks main {
    width: 100%;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form select {
    width: 100%;
  }

  .MyBooks button {
    width: 100%;
  }
}

.MyBooks_form-group .filter-input {
  width: 100%; /* Full width */
  padding: 10px; /* Padding inside the input */
  margin-bottom: 15px; /* Space below the input */
  font-size: 16px; /* Adjust font size */
  border: 1px solid #ddd; /* Light border */
  border-radius: 5px; /* Rounded corners */
}

/* Styling for when no data is available */
.MyBooks_form-group .no-data {
  text-align: center;
  color: #999; /* Gray text for no data message */
}

.MyBooks_form-group table {
  width: 100%; /* Make the table take up full width */
  border-collapse: collapse; /* Remove the gaps between borders */
  margin-top: 20px; /* Add space at the top */
}

.MyBooks_form-group th,
.MyBooks_form-group td {
  padding: 12px 15px; /* Add padding to cells */
  border: 1px solid #ddd; /* Add border around cells */
  text-align: left; /* Align text to the left */
  font-size: 16px; /* Set font size */
}

.MyBooks_form-group th {
  font-weight: bold; /* Make the header bold */
}

.MyBooks_form-group tr:hover {
  background-color: #f1f1f1; /* Highlight row on hover */
}

.MyBooks_form-group th,
.MyBooks_form-group td {
  text-align: center; /* Center the text in the cells */
}

/* Responsive table for smaller screens */
@media screen and (max-width: 600px) {
  .MyBooks_form-group table,
  .MyBooks_form-group th,
  .MyBooks_form-group td {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}
